.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.mini_title {
    font-size: 32px;
    text-transform: uppercase;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course_link{
    display: flex;
    width: 80vw;
    height: 180px;
    background-color:  #F6F6F6;
    border-radius: 20px;
}

.text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.type {
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title_course {
    font-size: 36px;
    text-transform: uppercase;
}

.mini_title_course {
    font-size: 20px;
}

@media screen and (max-width: 900px ){

    .mini_title {
        font-size: 26px;
    }

    .course_link{
        align-items: center;
    }

    .text {
        width: 100%;
    }

    .title_course {
        font-size: 34px;
    }

    .mini_title_course {
        font-size: 16px;
    }

}

@media screen and (max-width: 400px ){

    .mini_title {
        font-size: 24px;
    }

    .title_course {
        font-size: 28px;
    }

    .mini_title_course {
        font-size: 14px;
    }

}
