main {
    text-align: center;
    align-items: center;
}

.container {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;
    text-align: left;
    align-items: center;
}

.description {
    text-align: justify;
    width: 100%;
    font-size: 20px;
}

.title {
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.btn_des {
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #667FC1;
    border-radius: 5px;
    color: #667FC1;
    font-size: 20px;
    cursor: pointer;
}
