.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.lessons {
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 100px;
    align-items: center;
}

.lesson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 200px;
    background: #F6F6F6;
    border-radius: 20px;
    gap: 20px;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.mini_title {
    font-size: 24px;
}

